.container-fiuld{
	width: 100%;
	height: auto;
}
.container{
	width: 100%;
	margin: 0 auto;
	box-sizing: border-box;
}
.nav{
	display: none;
}
[class*="col-"]{
	float:left;	
	padding: 0 20px;
	box-sizing: border-box;
}
.col-xs-1{
	width: 8.333333%;
}
.col-xs-2{
	width: 16.666666%;
}
.col-xs-3{
	width: 24.999999%;
}
.col-xs-4{
	width: 33.333333%;
}
.col-xs-5{
	width: 41.666666;
}
.col-xs-6{
	width: 50%;
}
.col-xs-7{
	width: 58.333333%;
}
.col-xs-8{
	width: 66.666666%;
}
.col-xs-9{
	width: 74.999999%;
}
.col-xs-10{
	width: 83.333333%;
}
.col-xs-11{
	width: 91.666666%;
	
}
.col-xs-12{
	width: 100%;
}
.col-hiden{
	width: 100%;
}
/*此处需要注意一些问题  col-xx-hiden根据内容*/

